/*margin and padding for all elements, use font for all text */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

/* Set the body to full width and height of the viewport */
body {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  background-color: #fafbfb;
}

/* Remove default list styling */
ul li {
  list-style-type: none;
}

/* Remove underline from links  */
a {
  text-decoration: none;
}

.input-email {
  margin-top: 20px;
  padding: 10px;
  width: 100%;
  border: 2px solid #335eea;
  border-radius: 5px;
  font-size: 16px;
}

.input-email input[type="email"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: none;
  outline: none;
}

/* hover of email */
.input-email:hover {
  border-color: #2b50c7;
}

.input-email:focus {
  border-color: #506690;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.container {
  width: 100%;
}

/*Style for header */
.header {
  height: 4.5rem;
  padding: 0 1.7rem;
}

/*Style for nav */
.nav {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Style for logo */
.logo h2 {
  font-size: 28px;
  color: #335eea;
}

/*Style for nav menu */
.nav_menu_list {
  display: flex;
  align-items: center;
}

.nav_menu_list .nav_menu_item {
  margin: 0 2rem;
}

.nav_menu_item .nav_menu_link {
  font-size: 16.5px;
  line-height: 27px;
  color: #506690;
  text-transform: capitalize;
  letter-spacing: 0.5px;
}

/* Style for links in the navigation menu on hover */
.nav_menu_link:hover {
  color: #335eea;
}

.nav_menu,
.close_btn {
  display: none;
}

/* content */
.content {
  width: 100%;
  padding-left: 1.7rem;
  padding-right: 1.7rem;
  padding-top: 5rem;
  margin-bottom: 5rem;
}

.grid-cols-2 {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
}

.grid-item-1 {
  padding-top: 5rem;
  padding-left: 1.5rem;
}

.main-heading {
  font-weight: 300;
  font-size: 40px;
  line-height: 55px;
}

.main-heading span {
  color: #335eea;
}

.info-text {
  margin-top: 1.5rem;
  font-size: 19px;
  line-height: 28px;
  color: #334157;
}

.btn_wrapper {
  margin-top: 3.5rem;
  display: flex;
  width: 100%;
}

.btn {
  width: 110px;
  height: 50px;
  background-color: #335eea;
  display: block;
  font-size: 16px;
  color: #fff;
  text-transform: capitalize;
  border-radius: 7px;
  letter-spacing: 1px;
  transition: 0.4s;
}

.btn:hover {
  transform: translateY(-3px);
  background-color: #2b50c7;
}

.sub {
  width: 180px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  letter-spacing: 0;
  color: #fff;
  font-weight: 500;
  margin-right: 10px;
  box-shadow: 0 0.5rem 1.5rem rgba(22, 28, 45, 0.1);
}

.sub i {
  margin-left: 0.7rem;
}

.sub:hover {
  transition: box-shadow 0.25s ease, transform 0.25s ease;
}

.grid-item-2 {
  width: 100%;
  height: 100%;
}

.logo {
  -webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

/**
 * ----------------------------------------
 * animation text-focus-in
 * ----------------------------------------
 */
@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }

  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }

  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}


.team_img_wrapper {
  -webkit-animation: bounce-in-top 1.1s both;
  animation: bounce-in-top 1.1s both;
}

/**
 * ----------------------------------------
 * animation bounce-in-top
 * ----------------------------------------
 */
@-webkit-keyframes bounce-in-top {
  0% {
    -webkit-transform: translateY(-500px);
    transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }

  38% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }

  55% {
    -webkit-transform: translateY(-65px);
    transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  72% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  81% {
    -webkit-transform: translateY(-28px);
    transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  90% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  95% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

@keyframes bounce-in-top {
  0% {
    -webkit-transform: translateY(-500px);
    transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }

  38% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }

  55% {
    -webkit-transform: translateY(-65px);
    transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  72% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  81% {
    -webkit-transform: translateY(-28px);
    transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  90% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  95% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

.team_img_wrapper {
  width: 500px;
  max-width: 100%;
  height: 440px;
}

.team_img_wrapper img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.grid-cols-3 {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 3rem;
  row-gap: 2rem;
  padding: 1rem;
}

.grid-col-item {
  height: 100%;
}

.icon {
  width: 100%;
  line-height: 40px;
}

.featured_info {
  width: 100%;
}

.featured_info p {
  display: block;
  width: 100%;
  margin-top: 7px;
  font-weight: 400;
  color: #334157;
  line-height: 25px;
  font-size: 15.5px;
}

footer {
  width: 100%;
  height: 12px;
  margin-top: 8rem;
  background-color: #335eea;
  padding: 20px 0;
  text-align: center;
  color: white;
}

footer p {
  margin: 0;
}

/* Media Quries */
@media screen and (min-width: 1040px) {
  .container {
    width: 1040px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .toggle_btn {
    display: none;
  }

  .nav_menu {
    display: block;
  }
}

@media screen and (max-width: 768px) {
  .logo h2 {
    font-size: 23px;
  }

  .nav_menu {
    position: fixed;
    width: 93%;
    height: 100%;
    display: block;
    top: 2.5%;
    right: -100%;
    background-color: #fff;
    padding: 3rem;
    border-radius: 10px;
    box-shadow: 0 0.5rem 1.5rem rgba(22, 28, 45, 0.1);
    z-index: 50;
    transition: 0.4s;
  }

  .nav_menu_list {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 4rem;
  }

  .nav_menu_list .nav_menu_item {
    margin: 1rem 0;
  }

  .nav_menu_item .nav_menu_link {
    font-size: 18px;
  }

  .close_btn {
    display: block;
    position: absolute;
    right: 10%;
    font-size: 25px;
    color: #50689e;
  }

  .close_btn:hover {
    color: #000;
  }

  .content {
    padding: 0 0.7rem;
  }

  .grid-item-1 {
    padding-left: 0rem;
  }

  .main-heading {
    font-size: 35px;
  }

  .sub {
    width: 140px;
    height: 55px;
    font-size: 13.5px;
    margin-right: 1rem;
  }

  .grid-cols-3 {
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  }

  .featured_info p {
    line-height: 23px;
    font-size: 14px;
  }
}

@media screen and (max-width: 991px) {
  .content {
    padding-top: 3rem;
  }

  .grid-cols-2 {
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  }

  .grid-item-1 {
    order: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 0;
  }

  .main-heading {
    font-size: 32px;
    text-align: center;
    line-height: 40px;
  }

  .info-text {
    font-size: 16px;
    text-align: center;
    padding: 0.7rem;
  }

  .btn_wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .grid-item-2 {
    order: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .team_img_wrapper {
    width: 350px;
    height: 350px;
  }

  .featured_info span {
    font-size: 19px;
  }
}